<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dados_usuario.css">
    <title>Dados do Usuário/Gestor</title>
</head>
<body>
    <header>
        <h1>Dados do Usuário</h1>
    <div class="icone_perfil">
        <button><img src="/public/img/login-cadastro/user.png"></button>
    </div>
    </header>
    <main>
        <div class="dados-usuario">
           <table>
                 <tr>
                    <td><strong>Nome</strong></td>
                    <td class="campo-dado"><%= usuario?.name %></td>
                </tr>
                 <tr>
                    <td><strong>Sobrenome</strong></td>
                    <td class="campo-dado"><%= usuario.sobrenome %></td>
                </tr>
                 <tr>
                    <td><strong>Email</strong></td>
                    <td class="campo-dado"><%= usuario?.email %></td>
                </tr>
                <tr>
                    <td><strong>Senha</strong></td>
                    <td class="campo-dado"><%= usuario?.password ? '*'.repeat(usuario.password.length) : '' %></td>
                </tr>
                <tr>
                    <% if (!isAdmin) { %>
                    <td><strong>CPF</strong></td>
                    <td class="campo-dado"><%= usuario?.cpf %></td>
                </tr>
                <tr>
                    <td><strong>Telefone</strong></td>
                    <td class="campo-dado"><%= usuario?.telefone %></td>
                </tr>
                <tr>
                    <td><strong>Atuação</strong></td>
                    <td class="campo-dado"><%= usuario?.atuacao %></td>
                </tr>
                <tr>
                    <td><strong>Empresa</strong></td>
                    <td class="campo-dado"><%= usuario?.empresa %></td>
                </tr>
                <tr>
                    <td><strong>Faculdade</strong></td>
                    <td class="campo-dado"><%= usuario?.faculdade %></td>
                </tr>
                <% } %>
           </table>
        </div>
    </main>
    <footer>
      <p>&copy; 2025 Entrada Express. Todos os direitos reservados.</p>
    </footer>
</body>
</html>